:root {
    --sb: rgb(17, 18, 13);
    --od: rgb(86, 84, 73);
    --b1: rgb(216, 207, 188);
    --fw: rgb(255, 251, 244);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body {
    background-color: var(--fw);
    font-family: 'Source Sans 3';
}

div {
    /* border: 1px solid red; */
}

.navbar {
    background-color: rgba(255, 251, 244, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 5%;
    border-bottom: 1px solid var(--b1);
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar .logo a{
    font-family: 'Libre Baskerville';
    font-size: 2rem;
    color: var(--sb);
    align-items: center;
}

.navbar .logo box-icon {
    height: 30px;
    width: 30px;
}

.navbar-nav a{
    margin: 1.3rem;
    color: var(--sb);
}

.hero-container {
    height: 100vh;
}

.hero-container .bg-1{
    height: 80vh;
    display: flex;
    background-color: var(--fw);
}

.bg-1 .img {
    margin-left: 7rem;
    margin-bottom: -5rem;
    align-content: end;
}

.bg-1 .img img {
    height: 25rem;
    border-radius: 40px;
    border: 10px solid white;
}

.bg-1 .title {
    align-content: end;
    margin-bottom: -4rem;
    margin-left: 1.3rem;
}

.bg-1 .title div {
    font-family: 'Bebas Neue';
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
    color: var(--od);
    bottom: 0;
}

.hero-container .bg-2{
    height: 20vh;
    background-color: var(--b1);
}

.about-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fw);
    gap: 10rem;
}

.about-container .left {
    width: 25rem;   
}

.about-container .left .title{
    font-family: 'Libre Baskerville';
    font-size: 4rem;
}

.about-container .left .para{
    font-size: 1rem;
    text-align: justify;
}

.about-container .left .linkedin{
    display: flex;
    justify-self: center;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--sb);
    border-radius: 2rem;
    gap: 0.2rem;
    background-color: coral;
}

.about-container .left .linkedin .icon {
    color: black;
}

.about-container .left .linkedin .link a {
    color: var(--sb);
}

.about-container .right {
}

.about-container .right img {
    height: 16rem;
    border-radius: 1rem;
}

.about-container .right .contact{
    border: 1px solid var(--sb);
    border-radius: 1rem;
    margin-top: -0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--sb);
    color: var(--fw);
}

.about-container .right .contact .title {
    font-family: 'Libre Baskerville';
    font-size: 1.5rem;
    font-weight:700;
    padding-bottom: 0.8rem;
}

.about-container .right .contact box-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.extra-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: var(--b1);
    list-style-type: none;
}

.extra-container .margin {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.extra-container h1 {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}

.extra-container p{
    font-size: 1.3rem;
}

.extra-container li{
    font-size: 1.5rem;
}

.extra-container .top {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.extra-container .left {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--fw);
    border-radius: 1rem;
}

.extra-container .left .content {
    display: flex;
}

.extra-container .left .year p{
    font-weight: 600;
}

.extra-container .left .edu {
    margin-left: 1rem;
}

.extra-container .right {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--fw);
    border-radius: 1rem;
}

.extra-container .bottom {
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--fw);
    border-radius: 1rem;
}
